<div class="container-fluid col-sm-12 col-lg-12 col-xs-12" [style.backgroundImage]="'url('+ image +')'">

<div class="login-panel col-md-6 col-sm-6 col-lg-6 col-xs-3 col-centered">

  <div class="login-panel-body  col-centered">
      <img class="logoImage col-centered " [src]="srcPath">
    <div class="row">
      <input type="text" class="textFeild username col-md-12 col-sm-12 col-lg-12 col-xs-12 col-centered"  placeholder="Username/Email" />
    </div>
    <div class="row">
      <input type="password"  class="textFeild col-md-12  col-sm-12 col-lg-12 col-xs-12 password "  placeholder="Password" />
        <button  type="button" class="btn btn-primary loginButton col-md-12  col-sm-12 col-lg-12 col-xs-12 " label="Login">Login</button>
  <span class="col-centered"><a href="#" data-target="#myModal" data-toggle="modal"  class="forgotPasswordLink " >Forgot Password ?</a></span>
    </div>
  </div>

</div>


<div class="modal fade" id="myModal" role="dialog">
   <div class="modal-dialog col-md-12 col-lg-12 col-xs-12 col-sm-12">

     <!-- Modal content-->
     <div class="modal-content">
         <h4 class="modal-title" >Reset Password</h4>
       <div class="modal-body">
         <p>To reset password,please visit the TippyTalk App.You can reset the password by simply tapping the "forgot password" button on the app login page</p>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
       </div>
     </div>

   </div>

 </div>
